/* основной #212121 */
/* второстепенный #2196F3 */
/* дополнительный #fff */
/* задний фон #fff; */
:root {
  --brand-color: #212121;
  --accent-color: #2196f3;
  --contact-color: #757575;
  --background-color: #fff;
  --accent-background-color: #f5f4fa;
  --footer-background-color: #2f303a;
  --header-background-color: #fff;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--brand-color);
}

ul {
  list-style: none;
}
/* Header */
header {
  background-color: var(--header-background-color);
}
.logo {
  text-decoration: none;
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: var(--accent-color);
}
.logo-navigation {
  color: #000;
}
.site-nav a {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.17;
  text-decoration: none;
  color: var(--brand-color);
}
.site-nav .current {
  color: var(--accent-color);
}

.site-nav a:hover,
.site-nav a:focus {
  color: var(--accent-color);
}

.contact-header a {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.17;
  text-decoration: none;
  color: var(--contact-color);
}
.contact-header a:focus,
.contact-header a:hover {
  color: var(--accent-color);
}

/* Main portfolio */
.main-portfolio {
  background-color: var(--background-color);
}

.filter-button {
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  background-color: var(--accent-background-color);
  cursor: pointer;
  color: var(--brand-color);
}

.filter-button:hover,
.filter-button:focus {
  color: var(--header-background-color);
  background-color: var(--accent-color);
}

.project-link {
  text-decoration: none;
}

.project-link .project-text {
  color: var(--contact-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}

.project-link .project-title {
  color: var(--brand-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

/* Footer */
footer {
  background-color: var(--footer-background-color);
}
.logo-navigation-footer {
  color: var(--header-background-color);
}
.contact-footer p {
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--header-background-color);
  font-style: normal;
}
.contact-footer a {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
}

.contact-footer a:focus,
.contact-footer a:hover {
  color: var(--accent-color);
}
/* Main Studio */
.hero {
  background: var(--footer-background-color);
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  color: var(--header-background-color);
  text-transform: uppercase;
}
.hero-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  color: var(--header-background-color);
  cursor: pointer;
}

.hero-button:hover,
.hero-button:focus {
  background-color: #188ce8;
  color: var(--header-background-color);
}

.section-properties {
  background-color: var(--background-color);
}

.properties h3 {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.properties p {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--contact-color);
}
.about-us {
  background-color: var(--background-color);
}

.about-us h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
}
.team {
  background-color: var(--accent-background-color);
}

.team h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
}
.team h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}
.team p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--contact-color);
}
/* внес правки */
